.r-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.formr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.r{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.file-label{
    cursor: pointer;
    color: #000000;
}

.img-file{
    margin-top: 15px;
    margin-left: 65px;
    margin-bottom: 15px;
}

.fileinput{
    display: none;
}

.r-labels{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.r-inputs{
    width: 630px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    background: #FFFFFF;
    border-color: #FECD70;
    border-style: solid;
    color: black;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.r-inputs:focus, select:focus{
    outline: #DDB263;
}

.r-inputs::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.r-state{
    border-color: #FFFFFF;
    border-style: solid;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 10px;
}

.r-btns{
    margin-right: 20px;
}


.r-btn{
    background: #FECD70;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 15px;
}

.r-btn:hover{
    transition-property: background;
    transition-duration: 200ms;
    background: #DDB263;
    cursor: pointer;    
}