.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}

.imglogo {
    width: 420px;
    height: 250px;
}